.search {
  display: block;
  outline: none;
  margin: 1rem auto;
  width: 60%;
  height: 2.8rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 1.2rem;
  opacity: 0.5;
  transition: 0.3s;
}

.search:focus {
  opacity: 1;
}

.listCountries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
